$font-anton:'Anton', sans-serif;
$font-nunito:'Nunito Sans', sans-serif;
$tomato:#c14748;
$burgundy:#8c2222;
$white:#fff;
$dark-grey:#2B2C30;
$grey:#e2e2e2;
$gray:#b1b1b3;
$light-grey:#f8f8f8;
$border:#CACACA;
$spacing:1px;
$center: center;
